.footer {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #f8f9fa;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.footer-icons {
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-icons a i {
    font-size: 22px;
    margin: 20px 0;
}

.footer-icons a {
    outline: none;
    color: black;
    text-decoration: none;
}

.footer-icons a:link {
    color: black;
}

.footer-text {
    width: 100%;
    max-width: 400px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-text a {
    outline: none;
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 10px 0;
}

.footer-text a:link {
    color: black;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time h3 {
    margin: 0;
}

.time p {
    margin: 10px;
}


@media (max-width: 430px) {
  .footer {
    gap: 15px;
  }

  .footer-icons,
  .footer-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-text a {
    font-size: 16px;
  }

  .footer-icons a i {
    font-size: 18px;
  }
}